// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: ObjectSansHeavySlanted;
    src: url(fonts/ObjectSans-HeavySlanted.otf)
}

h1 {
  font-family: ObjectSansHeavySlanted;
  color: #3fff13;
  text-align: center;
}
